<footer class="bg-gray-900 text-gray-300 py-4">
  <div class="container mx-auto flex flex-col md:flex-row justify-between items-center px-4">

    <div class="flex space-x-4 mb-2 md:mb-0">
      <div>
        <h3 class="pt-1.5">Social media:</h3>
      </div>
      <a href="https://github.com/Nikolasama89" target="_blank" aria-label="GitHub"
         class="hover:text-white transition-colors">
        <fa-icon [icon]="githubIcon" class="text-2xl"></fa-icon>
      </a>
      <a href="https://www.linkedin.com/in/nikolaos-michos/" target="_blank" aria-label="LinkedIn"
         class="hover:text-white transition-colors">
        <fa-icon [icon]="linkedInIcon" class="text-2xl"></fa-icon>
      </a>
    </div>

    <div class="text-sm">
      &copy; {{ currentYear }}, For <a href="https://codingfactory.aueb.gr/el" target="_blank">Coding Factory</a>
    </div>
  </div>
</footer>
