<div class="flex justify-between items-center mb-6">
  <!-- <a
    routerLink="/employees/new"
    class="rounded-xl bg-black text-white px-4 py-2">
    + Create Employee
  </a> -->
  <a *ngIf="auth.isAdmin()" routerLink="/employees/new" class="rounded-xl bg-black text-white px-4 py-2">
  + Create Employee
  </a>
  <!-- <a *ngIf="auth.user$()?.role === 'ADMIN'" routerLink="/employees/new" class="rounded-xl bg-black text-white px-4 py-2">
  + Create Employee
  </a> -->
</div>
<div class="p-6">
  <h1 class="text-2xl font-semibold mb-4">Employees</h1>

  <p *ngIf="error" class="text-red-600 mt-2">{{ error }}</p>

  <ng-container *ngIf="employees?.length; else noEmployees">
    <div class="overflow-x-auto rounded-xl border">
      <table class="min-w-full text-left text-sm">
        <thead class="bg-gray-100">
          <tr>
            <th class="px-4 py-3">Name</th>
            <th class="px-4 py-3">Job Title</th>
            <th class="px-4 py-3">Region</th>
            <th *ngIf="auth.isAdmin()" class="px-4 py-3 text-right w-24 pr-5">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let e of employees" class="border-t">
            <td class="px-4 py-3">{{ e.firstname }} {{ e.lastname }}</td>
            <td class="px-4 py-3">{{ e.jobTitle }}</td>
            <td class="px-4 py-3">{{ e.region }}</td>

            <td *ngIf="auth.isAdmin()" class="px-4 py-3">
              <div class="flex justify-end gap-2">
                <!-- Edit -->
                <button
                  type="button"
                  class="p-2 rounded-full hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-300"
                  [routerLink]="['/employees', e.id, 'edit']"
                  title="Edit"
                  aria-label="Edit employee">
                  <fa-icon [icon]="fontAwesomeEditButton" class="text-[20px]"></fa-icon>
                </button>

                <!-- Delete -->
                <button
                  type="button"
                  class="p-2 rounded-full hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-300"
                  title="Delete"
                  aria-label="Delete employee"
                  (click)="onDelete(e)">
                  <fa-icon [icon]="fontAwesomeDeleteButton" class="text-[20px]"></fa-icon>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-container>
  <ng-template #noEmployees>
    <p class="text-sm text-gray-500">No employees loaded yet.</p>
  </ng-template>
</div>
